/docker-compose.override.yml
/scripts/*
!/scripts/*/
/scripts/*/*
!/scripts/*/.gitkeep
!/scripts/typescript/tsconfig.json
!/scripts/typescript/package.json
/var/*
!/var/.gitkeep

/.env

!.gitkeep

npm_modules