/docker-compose.override.yml
/scripts/*
!/scripts/*/
/scripts/*/*
!/scripts/*/.gitkeep
!/scripts/typescript/examples
!/scripts/typescript/tsconfig.json
!/scripts/typescript/package.json
/var/*
!/var/.gitkeep
!/var/shared
/var/shared/*
!/var/shared/.gitkeep
/conf/*
!/conf/dist

/.env

!.gitkeep

npm_modules