name: Test Installation Process
on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:
  repository_dispatch:

concurrency:
  group: ${{ github.head_ref }} || concat(${{ github.ref }}, ${{ github.workflow }})
  cancel-in-progress: true

jobs:
  test-install-process:
    env:
      COMPOSE_DOCKER_CLI_BUILD: 1
      DOCKER_BUILDKIT: 1
      BUILDKIT_INLINE_CACHE: 1
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # - os: macos-latest TODO: install docker
          - os: ubuntu-20.04
          - os: ubuntu-latest
          # - os: windows-latest TODO: install docker
    steps:
      - uses: actions/checkout@v2

      - name: Configure
        run: |
          docker --version
          docker compose --version

      - name: Test
        shell: bash
        run: |
          cp .github/docker-compose.dry-run.yml docker-compose.override.yml
          docker compose up --attach ac-worldserver --attach ac-authserver
